<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link href="~/Content/Site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div id="gameMode-div">
    <h3>Select Your Game Level.</h3> <hr>
    <button id="easyBtn" style="background-color: #dcd43a; width: 150px" class="level" type="button">Easy Level</button>
    <button id="mediumBtn" style="background-color: #33ff00; width: 150px" class="level" type="button">Medium Level</button>
    <button id="hardBtn" style="background-color: #ff0049; width: 150px" class="level" type="button">Hard Level</button>
</div>

<div id="gameArea-div" style="display: none;">
    <div id="timer"></div>
    <div id="scoreDisplay">Score 0</div>
    <div id="imageContainer"></div>
    <b style="margin-left: 41%;">Select the correct Answer :</b>
    <div id="buttonContainer"></div>
    <br><br>
    <button id="homeButton"><i class="fas fa-home"></i> Home</button>
    <button id="logOff"><i class="fas fa-sign-out-alt"></i> LogOff</button>
    <button id="scoreboardButton"><i class="fas fa-trophy"></i> Scoreboard</button>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="~/Scripts/game.js"></script>